
section h1{
    text-align: center;
    color: #fff;
}
section{
    background-color: #000000;
    height: 41.1vw;
}
.card2{
    position:absolute;
    float: right;
    margin-right: 5%;
    margin-top: 12%;
}

.cardUbicacion{
    text-align: center;
    color: white;
    background-color: #000000;
}

.Ubicacion{
    background-color: #000000;
}

.googleMaps {
    background-color: #000000;
}

.body{
    background-color: #ff9100;
}

